

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
.tabs li {
  float: left;
  width: 15%;
}
.tabs a {
  position: relative;
  display: inline-block;
  background: #444;
  width: 100%;
  margin-left:100px;
  color: #ccbc90;
  padding: 27px ;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
}
.tabs a p, .tabs a i {
  position: relative;
  margin: 0;
  background: transparent;
  padding: 0;
  z-index: 100;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.12);
}
.tabs a.active {
  color: #fff;
}
.tabs a:hover {
  color: #fff;
}
.tabs a:active {
  background: #ccbc90;
}

#tabs-line {
  margin-left:100px;
  position: absolute;
  bottom: 0;
  height: 3px;
  transition: background 0.3s;
  z-index: 99;
}
#tabs-line.one {
  background: #bbb280;
  
}
#tabs-line.two {
  background: #FFBD73;
}
#tabs-line.three {
  background: #73ADCE;
}
#tabs-line.four {
  background: #DC6394;
}
#tabs-line.five {
  background: #73CEB5;
}