* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	
	--switchBg: #c7cad1;
	font-size: calc(16px + (40 - 16) * (100vw - 320px) / (1280 -1000));
}
body, input {
	font: 1em/1.5 "Inter", sans-serif;
}
body {
	background: var(--bg);
	color: var(--fg);
	display:block;
	height: 100vh;
}
/* Switch base */
.f, .f span {
	display: block;
}
.f {
	display: flex;
	cursor: pointer;
	align-items: center;
	margin: 12px;
	-webkit-tap-highlight-color: transparent;
}
.f abbr {
	text-decoration: none;
}
.f__input {
	position: fixed;
	top: -1.5em;
	left: -1.5em;
}
.f__handle, .f__handle span {
	transition: all 0.3s ease-in-out;
}
.f__handle, .f__switch {
	height: 3em;
}
.f__handle {
	position: relative;
	width: 3em;
}
.f__handle span {
	position: absolute;
}
.f__switch {
	background: var(--switchBg);
	border-radius: 1.5em;
	margin: 0 0.75em;
	width: 6em;
}
.f__input:focus {
	outline: 0;
}
.f__input:focus-visible + .f__switch {
	box-shadow: 0 0 0.25em var(--primary);
}
.f__input:checked + .f__switch .f__handle {
	transform: translateX(100%);
}
/* Shapes */
.f__1, .f__2, .f__3, .f__4, .f__5, .f__6, .f__7, .f__8, .f__9, .f__20 {
	background-color: #0c0d14;
}
.f__1, .f__18, .f__19, .f__20 {
	border-radius: 50%;
}
.f__1, .f__19, .f__20 {
	clip-path: polygon(0 0,100% 0,100% 50%,100% 100%,0 100%,0% 50%);
}
.f__input:checked + .f__switch .f__1,
.f__input:checked + .f__switch .f__19,
.f__input:checked + .f__switch .f__20 {
	border-radius: 0;
	clip-path: polygon(25% 0%,75% 0%,100% 50%,75% 100%,25% 100%,0% 50%);
}
.f__input:checked + .f__switch .f__1,
.f__input:checked + .f__switch span:nth-child(n + 2):nth-child(-n + 9),
.f__input:checked + .f__switch .f__20 {
	background-color: #101852;
}
.f__1 {
	top: 1em;
	left: 1em;
	width: 1em;
	height: 1em;
	z-index: 5;
}
.f__input:checked + .f__switch .f__1 {
	width: 1.15em;
	transform: translateX(-0.075em);
}
.f__switch span:nth-child(n + 2):nth-child(-n + 17) {
	transform-origin: 0 50%;
}
.f__switch span:nth-child(n + 2):nth-child(-n + 9) {
	top: 1.4em;
	left: 1.5em;
	width: 0.9em;
	height: 0.2em;
	z-index: 4;
}
.f__input:checked + .f__switch .f__2 {
	transform: scale(1.5,0.5);
}
.f__3 {
	transform: rotate(-45deg);
}
.f__input:checked + .f__switch .f__3 {
	transform: rotate(-60deg) scale(1.5,0.5);
}
.f__4 {
	transform: rotate(-90deg);
}
.f__input:checked + .f__switch .f__4 {
	transform: rotate(-90deg) scale(0.5,0.5);
}
.f__5 {
	transform: rotate(-135deg);
}
.f__input:checked + .f__switch .f__5 {
	transform: rotate(-120deg) scale(1.5,0.5);
}
.f__6 {
	transform: rotate(-180deg);
}
.f__input:checked + .f__switch .f__6 {
	transform: rotate(-180deg) scale(1.5,0.5);
}
.f__7 {
	transform: rotate(-225deg);
}
.f__input:checked + .f__switch .f__7 {
	transform: rotate(-240deg) scale(1.5,0.5);
}
.f__8 {
	transform: rotate(-270deg);
}
.f__input:checked + .f__switch .f__8 {
	transform: rotate(-270deg) scale(0.5,0.5);
}
.f__9 {
	transform: rotate(-315deg);
}
.f__input:checked + .f__switch .f__9 {
	transform: rotate(-300deg) scale(1.5,0.5);
}
.f__switch span:nth-child(n + 10):nth-child(-n + 17), .f__19 {
	background-color: #fff;
}
.f__switch span:nth-child(n + 10):nth-child(-n + 17) {
	top: 1.3em;
	left: 1.5em;
	width: 0.3em;
	height: 0.4em;
	z-index: 3;
}
.f__10 {
	transform: translateX(-1.25em);
}
.f__input:checked + .f__switch .f__10 {
	transform: translateX(-1.25em) scale(0,0.5);
}
.f__11 {
	transform: rotate(45deg) translateX(-1.3em);
}
.f__input:checked + .f__switch .f__11 {
	transform: rotate(60deg) translateX(-1.3em) scale(0,0.5);
}
.f__12 {
	transform: rotate(90deg) translateX(-1.3em);
}
.f__input:checked + .f__switch .f__12 {
	transform: rotate(90deg) translateX(-1.15em) scale(0,0.5);
}
.f__13 {
	transform: rotate(135deg) translateX(-1.3em);
}
.f__input:checked + .f__switch .f__13 {
	transform: rotate(120deg) translateX(-1.3em) scale(0,0.5);
}
.f__14 {
	transform: rotate(180deg) translateX(-1.3em);
}
.f__input:checked + .f__switch .f__14 {
	transform: rotate(180deg) translateX(-1.3em) scale(0,0.5);
}
.f__15 {
	transform: rotate(225deg) translateX(-1.3em);
}
.f__input:checked + .f__switch .f__15 {
	transform: rotate(240deg) translateX(-1.3em) scale(0,0.5);
}
.f__16 {
	transform: rotate(270deg) translateX(-1.3em);
}
.f__input:checked + .f__switch .f__16 {
	transform: rotate(270deg) translateX(-1.15em) scale(0,0.5);
}
.f__17 {
	transform: rotate(315deg) translateX(-1.3em);
}
.f__input:checked + .f__switch .f__17 {
	transform: rotate(300deg) translateX(-1.3em) scale(0,0.5);
}
.f__18 {
	box-shadow: 0 0 0 0.15em #0c0d14 inset;
	top: 0.25em;
	left: 0.25em;
	width: 2.5em;
	height: 2.5em;
	z-index: 2;
}
.f__input:checked + .f__switch .f__18 {
	box-shadow: 0 0 0 0 #101852 inset;
	transform: scaleY(0.9);
}
.f__19 {
	top: 0.15em;
	left: 0.15em;
	width: 2.7em;
	height: 2.7em;
	z-index: 1;
}
.f__20 {
	width: 3em;
	height: 3em;
}
.f__input:checked + .f__switch .f__19,
.f__input:checked + .f__switch .f__20 {
	transform: scale(1,0.86);
}
/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #2e3138;
		--fg: #e3e4e8;
		--primary: #5583f6;
		--switchBg: #454954;
	}
}
	