[data-dropdown]:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #bdafc7 transparent transparent transparent;
  }
  [data-dropdown][aria-expanded=true]:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #7f6591 transparent transparent transparent;
  }
  
  [data-dropup]:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #373737 transparent;
  }
  [data-dropup][aria-expanded=true]:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 10px 7.5px;
    border-color: transparent transparent #e09f26 transparent;
  }
  
  [data-dropleft]:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #bdafc7 transparent transparent;
  }
  [data-dropleft][aria-expanded=true]:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #7f6591 transparent transparent;
  }
  
  [data-dropright]:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #bdafc7;
  }
  [data-dropright][aria-expanded=true]:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 10px;
    border-color: transparent transparent transparent #7f6591;
  }
  
  .btn {
    display: inline-block;
    padding: 12px 18px;
    border: 0;
    color: #fff;
    cursor: pointer;
    user-select: none;
  }
  .btn:focus {
    outline: none;
  }
  
  .dropdown {
    background: rgba(255, 255, 255, 0.849);
    padding-right: 25px;
    position: relative;
  }
  .dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
  .dropdown[aria-expanded=true] {
    background: #373737;
  }
  .fa[aria-expanded=true]{
    background-color: #373737;
    color:#e09f26;
    border-color: transparent transparent #e09f26 transparent;
  }
  
  
  .dropdown_content {
    position:-ms-page;
    width: 266px;
    margin-left: 525px;
    margin-top: 465px;
   background-origin:inherit;
    background-color: rgba(255, 255, 255, 0.849);
    transform: scale(0);
    transform-origin: bottom;
    transition: transform 200ms cubic-bezier(0.96, 0.88, 0.0, 0);
  }
  .dropdown_content.dropdown_content--active {
    transform: scale(1);
  }
  
  .dropdown_content-item {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #2b2d2f;
    opacity: 0;
    transition: opacity 200ms ease;
  }
  .dropdown_content-item:hover {
    color: #81868c;
  }
  .dropdown_content--active .dropdown_content-item {
    opacity: 1;
  }
  
  /* main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */