$trans: .3s; 

h1 {
  text-align: center;
  border: 0;
}

p {
  text-align: center;
  font-weight: 400;
}

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  
  li {
    float: left;
    width: 20%;
  }

  a {
    position: relative;
    display: inline-block;
    background: #5A4A6B;
    width: 100%;
    margin: 0;
    color: #9C94B5;  
    padding: 16px 0;
    text-align: center;
    text-decoration: none;
    transition: $trans;

    p, i {
      position: relative;
      margin: 0;
      background: transparent;
      padding: 0;
      z-index: 100;
      text-shadow: 0 2px 4px rgba(0, 0, 0, .12),  0 4px 8px rgba(0, 0, 0, .12);
    }

    &.active {
      color: #fff;
    }
    
    &:hover {
      color: #fff;
    }
    
    &:active {
      background: darken(#5A4A6B, 10);
    }
  }
}

#tabs-line {
  position: absolute;
  bottom: 0;
  height: 3px;
  transition: background $trans;
  z-index: 99;
  
  &.one {
    background: #E75A5A;
  }
  &.two {
    background: #FFBD73;
  }
  &.three {
      background: #73ADCE;
  } 
  &.four {
      background: #DC6394;
  }
  &.five {
      background: #73CEB5;
  }
}