.leaflet-container .leaflet-control-mouseposition {
  /* margin: inherit; */
 /* margin: initial;  */
margin: unset; 
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  /* margin:-5px; */
  margin-left: 5px;
  /* margin: 2px 1em 0 33px; */
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}